@charset "UTF-8";

:root {
    --color1: #d6d6d6;
    --color2: #a3a3a3;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background:
        /* linear-gradient(to top left, rgba(0, 0, 0, 0.7), rgba(255, 255, 255, 0.3)), */
        url('../assets/2113313.png') no-repeat center center;

    --width: 1540px;
    --height: 840px;
    --width-factor: 0.213;
    --height-factor: 0.667;
    background-size: var(--width) var(--height);
}

#map {
    z-index: 100;
    width: calc(var(--width) * var(--width-factor));
    height: calc(var(--height) * var(--height-factor));
}

#locationBar {
    /* display: flex; */
    display: none;
    width: 80%;
    z-index: 100;
    position: absolute;
    top: 1.85%;
    left: 16.5%;
}

#locationBar #inputSearch {
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 4px 0 0 4px;
}

#locationBar #btnSearch {
    padding: 8px;
    font-size: 16px;
    background: var(--color1);
    color: white;
    border: 1px solid var(--color1);
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

#locationBar #btnSearch:hover {
    background: var(--color2);
}

#btnWrapper {
    top: 1299%;
    left: -20%;
    position: absolute;
}

#btnCancel, #btnConfirm
{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 4px;
    padding: 10px;
}

#btnCancel {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: #f44336;
    border: 1px solid #f44336;
}

#btnCancel:hover {
    background: #d32f2f;
}

#btnConfirm {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: #2fd379;
}

#btnConfirm:hover {
    background: #13aa57;
}

/* FORMS */

#form-container {
    width: calc(var(--width) * var(--width-factor));
    height: calc(var(--height) * var(--height-factor));

    padding: 20px;
    position: absolute;
    background-color: red;
}

#form-container form {
    display: none;
}

#form-container h1 {
    margin-bottom: 30px;
    font-size: 20px;
    text-align: center;
}

#form-container .form-group {
    margin-bottom: 15px;
}

#form-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#form-container>form input,
#form-container>form button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#form-container>form button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

#form-container>form button:hover {
    background-color: #0056b3;
}